/* Global */

#main {
  /* position: relative; */
  padding: 30px;
  margin: auto;
  outline: 40px
  width: 768px;
}

/* Title */
#title, #subtitle{
  text-align: center;
}


/* image and caption */
#img-div{
  margin: auto;
  padding: 0 0;
  background-color: #ffffff;
}

#image{
  position: relative;
  max-width: 70%;
  max-height: 70%;
}

/* tribute info */
#tribute-info{
  margin: 0 35%;
}

#tribute-info h3, #tribute-info h6{
  text-align: center;
}

#tribute-info h6{
  margin-top: -10px;
}

#tribute-info ul{
  line-height: 1.5;
}


/* quote */
#quote{
  text-align: center;
}

#quote p{
  margin-top: -20px;
}
