/* Global */

#main {
  padding: 0px;
  margin: 0;
  outline: 0px;
}

/* Title */
#title, #subtitle{
  text-align: center;
}


/* image and caption */
#img-div{
  margin: auto;
  padding: 0 0;
  background-color: #ffffff;
}

#image{
  position: relative;
  max-width: 70%;
  max-height: 70%;
}

/* description */
#tribute-info ul li{
  line-height: 2.0;
}
